APP_NAME="Sistem Pengurusan Stor ASM"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kuala_Lumpur
APP_URL=http://localhost:8000

APP_LOCALE=ms
APP_FALLBACK_LOCALE=en

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
